extends layout

block content
    div.wrap

        form(method="post" action="/users/login")

            input(type="text" name="username")

            input(type="password" name="password")

            input(type="submit")
