include "layout.blade"

replace block body

form(method="post" action="/users/register")
    input(type="text" name="username")
        {change}
            validate(e.currentTarget.value);
    input(type="password" name="password")
        {change}
            checkPasswordStrength(this.value);
    input(type="submit")