<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/socket.js"></script>
</head>
<body>
<script>socket = io();
</script>
<div>5c77a98239953b319065bb78</div>
<script>loginId = 5c77a98239953b319065bb78;
loginName = george;

socket.emit('user_data', {id: loginId, name: loginName});
</script>
<div class="groups-container">
    <div><h2 class="rooms">ROOMS</h2>
        <div id="rooms"></div>
    </div>
    <div>
        <div id="room creation">
            <button class="create-room-btn" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Create Room</button>
        </div>
    </div>
</div>
<div>
    <div id="room creation"></div>
</div>
<div class="chat-container">
    <div id="chatroom">
        <div id="feedback"></div>
    </div>
    <form id="textarea" action="" method="POST">
        <div><textarea name="text_editor" id="text"></textarea></div>
        <div>
            <button class="signupbtn" type="submit">Send</button>
        </div>
    </form>
</div>
<div class="user-container" tyle="display: none;">
    <div id="users"></div>
</div>
</body>
</html>